body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    max-width: 800px;
    padding-top: 1000px;
}


.image-container {
    margin: 24px 0;
    overflow: hidden;
    border-radius: 16px;
    perspective: 1px;
}

.loader {
    padding-top: 400px;
    width: 100%;
    background: linear-gradient(90deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.loader img {
    display: none;
}

.placeholder {
    width: 100%;
    object-fit: cover;
    filter: blur(40px);
}

/*Utilities*/
.hidden {
    display: none;
}

